<div class="container">
    <header>header</header>
    <main>main</main>
    <aside>aside</aside>
    <footer>footer</footer>
</div>
<style>
html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
}

header {
    background: rgb(255, 255, 255);
    grid-area: hea;
    /*grid-column: 1/3; mesma coisa que a de baixo*/
    /* grid-column-start: 1;
    grid-column-end: 3; */


}
main {
    background: rgb(0, 0, 153);
    grid-area: mai;
    /*grid-column: 1/2; mesma coisa que a de baixo*/
    /* grid-column-start: 1 ;
    grid-column-end: 2 ; */
}
aside {
    background: rgb(76, 76, 172);
    grid-area: asi;
    /*grid-column: 2/3; mesma coisa que a de baixo*/
    /* grid-column-start: 2 ;
    grid-column-end: 3 ; */
}
footer {
    background: rgb(252, 252, 252);
    grid-area: foo;
    /*grid-column: 1/3; mesma coisa que a de baixo*/
    /* grid-column-start: 1 ;
    grid-column-end: 3 ; */
}

.container {
    display: grid; /*informa que o container vai usar grid*/
    grid-template-columns: 3fr 1fr; /*informações sobre as colunas colunas no container dividiu em duas colunas uma com tamanho 3 e outra 1 */
    grid-template-rows: 20vh 70vh 10vh; /*informações sobre as linhas*/
    grid-template-areas: "hea ." /*define o posicionamento dessas variaveis na tela só chama las nos itens acima*/
                         "mai asi"
                         "foo foo";

    grid-gap: 20px 20px; /*espaço entre as linhas e colunas primeiro a row depois column*/
}
</style>